<!-- atajo: html:5 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "Juan Pugliese" content = "Tarea 1 HTML"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./assets/css/styleInicio.css">
</head>
<body>
    <ul class="navbar">
        <li><a href="../inicio.html">Inicio</a></li>
        <li><a href="../views/dashboard.html">Dashboard</a></li>
        <li><a href="../views/divclase.html">Divclase</a></li>
        <li><a href="../views/esopo.html">Esopo</a></li>
        <li><a href="../views/fabula.html">Fabula</a></li>
        <li><a href="../views/fabula1.html">Fabula(1)</a></li>
        <li><a href="../views/form.html">Formulario</a></li>
        <li><a href="../views/horario.html">Horario</a></li>
        <li><a href="../views/inicio1.html">Inicio(1)</a></li>
        <li><a href="../views/Mora.html">Mora</a></li>
        <li><a href="../views/quiz.html">Quiz</a></li>
    </ul>
</body>
</html>