<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="trabajo en clase css 2 div y clases">
    <title>Trabajo en clase css 2</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style3.css">
</head>
<body>

    <ul class="navbar">
        <li><a href="../inicio.html">Inicio</a></li>
        <li><a href="../views/dashboard.html">Dashboard</a></li>
        <li><a href="../views/divclase.html">Divclase</a></li>
        <li><a href="../views/esopo.html">Esopo</a></li>
        <li><a href="../views/fabula.html">Fabula</a></li>
        <li><a href="../views/fabula1.html">Fabula(1)</a></li>
        <li><a href="../views/form.html">Formulario</a></li>
        <li><a href="../views/horario.html">Horario</a></li>
        <li><a href="../views/inicio1.html">Inicio(1)</a></li>
        <li><a href="../views/Mora.html">Mora</a></li>
        <li><a href="../views/quiz.html">Quiz</a></li>
    </ul>

    <h2 id="ali"> Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad </h2>
    <h2> Awnicnoevneovne: noievnoeinroinrevoivnevneroniovnervoinrnven</h2>
    <p class="color"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex fuga iusto, nesciunt beatae nobis, unde alias voluptas ipsam perspiciatis odit a aspernatur amet voluptate atque possimus voluptatem dignissimos facilis soluta. </p>
    <p class="fuente"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, ipsum tenetur ratione excepturi eos expedita veniam odit nesciunt quidem adipisci aut et molestias consequatur quas fuga veritatis error harum architecto? </p>
    <p class="parrafo"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eveniet eos tempore beatae consectetur facilis unde ratione blanditiis perspiciatis sed quasi, vel dolorum, tenetur, minus molestias earum sint deleniti assumenda. </p>
    <p>
        Hasta muchos siglos después no se dudó de la existencia
        efectiva de ambos, señalando además la perfecta antítesis
        entre las dos figuras: <span class="homero"><a> Homero como cantor de las gestas de
        los héroes</a></span>, Esopo como retratista de la plebe, de las
        debilidades humanas bajo aspecto de animales. En ambos
        casos, numerosas ciudades se disputaron el honor de ser
        su cuna.
    </p>
</body>
</html>