<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Z" content="Fabula de la lechera y el cantaro">
    <title>Fabula</title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style2.css">
</head>
<body>

    <ul class="navbar">
        <li><a href="../inicio.html">Inicio</a></li>
        <li><a href="../views/dashboard.html">Dashboard</a></li>
        <li><a href="../views/divclase.html">Divclase</a></li>
        <li><a href="../views/esopo.html">Esopo</a></li>
        <li><a href="../views/fabula.html">Fabula</a></li>
        <li><a href="../views/fabula1.html">Fabula(1)</a></li>
        <li><a href="../views/form.html">Formulario</a></li>
        <li><a href="../views/horario.html">Horario</a></li>
        <li><a href="../views/inicio1.html">Inicio(1)</a></li>
        <li><a href="../views/Mora.html">Mora</a></li>
        <li><a href="../views/quiz.html">Quiz</a></li>
    </ul>

    <h1>La lechera y el cántaro</h1>
    <h2>Fábula de Esopo</h2>
    <img src="https://arbolabc.nyc3.cdn.digitaloceanspaces.com/Cuentos_Infantiles/fabulas/images/webP/lecheraC.webp">
    <h5>Figura 1. La lechera y el cántaro <br> 
        <span>Tomado de <a href="https://arbolabc.com/fabulas-para-niños/la-lechera">https://arbolabc.com/fabulas-para-niños/la-lechera</a></span></h5>   

    <p> Había una vez una joven lechera que caminaba con un cántaro de leche para vender en el mercado del pueblo. Mientras caminaba pensaba en todas las cosas que haría con el dinero de la venta: <br><br>
    —Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo. <br><br>
    Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.</p>

    <h2>Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad.</h2>
    
    <ul> Otras fábulas de Esopo
        <li>La liebre y la tortuga </li>
        <li> La cigarra y la hormiga</li>
        <li> El león y el ratón</li>
        <li> Las moscas</li>
        <li> El asno y el león</li>
    </ul>

    <table border="1">
        <tr>
            <th> Autor </td>
            <th> Fábulas </td>
        </tr>
        <tr>
            <td> Rafael Pombo </td>
            <td> Renacuajo Paseador <br> La pobre viejecita </td>
        </tr>
        <tr>
            <td> Jean La Fontaine </td>
            <td> El molinero <br> El zorro y el cuervo </td>
        </tr>
        <tr>
            <td> Tomás de Iriarte </td>
            <td> El burro flautista <br> La mona </td>
        </tr>
        <tr>
            <td> Rafael García Goyena </td>
            <td> La araña y el mosquito <br> El guarda y el loro </td>
        </tr>   


    </table>
</body>
</html>