<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "Juan Pugliese" content = "Fabula La lechera y su cántaro"> 
    <meta name="form" content="width=device-width, initial-scale=1.0">
    <title>Fabula La lechera y su cántaro </title>
    <link rel="stylesheet" type="text/css" href="../assets/css/style1.css">
</head>
<body>

    <ul class="navbar">
        <li><a href="../inicio.html">Inicio</a></li>
        <li><a href="../views/dashboard.html">Dashboard</a></li>
        <li><a href="../views/divclase.html">Divclase</a></li>
        <li><a href="../views/esopo.html">Esopo</a></li>
        <li><a href="../views/fabula.html">Fabula</a></li>
        <li><a href="../views/fabula1.html">Fabula(1)</a></li>
        <li><a href="../views/form.html">Formulario</a></li>
        <li><a href="../views/horario.html">Horario</a></li>
        <li><a href="../views/inicio1.html">Inicio(1)</a></li>
        <li><a href="../views/Mora.html">Mora</a></li>
        <li><a href="../views/quiz.html">Quiz</a></li>
    </ul>

    <table border = 0.5>
    <th>
    <td>
    <h1> La lechera y su cántaro </h1>
    <p> <img id="img" src="../assets/img/google classroom.png"> Google Classroom <img id="img" src="../assets/img/bxs-heart.svg"> Agregar a asignaciones</p>

    <p> Fabula de Esopo</p>
  
    <p> © Versión de Paola Artmann</p>
    <p> <img id="img1" src="../assets/img/audiolibro.png"> </p>
    <p id="p1"> Audio de texto a voz para una lectura asistida </p>
    <img id="img2" src="../assets/img/foto fabulas.png">
    <p id="p2">Había una vez una joven lechera que caminaba con un cántaro de leche <br> para 
       vender en el mercado del pueblo. Mientras caminaba pensaba en todas <br> las cosas
       que haría con el dinero de la venta: </p>
    <p id="p2">—Cuando me paguen —se dijo—, compraré de inmediato unas gallinas, estas gallinas pondrán muchísimos huevos y los venderé en el mercado. Con el dinero de los huevos me compraré un vestido y zapatos muy elegantes. Luego, iré a la feria y como luciré tan hermosa, todos los chicos querrán acercarse a hablar conmigo. </p>
    <p id="p2"> Por andar distraída con sus pensamientos, la lechera tropezó con una piedra y el cántaro se rompió derramando toda la leche. Con el cántaro destrozado se fueron las gallinas y los huevos; también el vestido y los zapatos.</p>
    </p>
    <p id="p3"> Moraleja: Nuestros sueños y planes no deben apartarnos de la realidad. </p>
    </th>
    </tr>
    </table>
</body>
</html>

