<!DOCTYPE html>
<html lang="es">
<head> 
<meta charset="UTF-8"> 
<meta name = "Juan Pugliese" content = "Tarea 2 HTML"> 
<title> Todo lo que debes saber de Mora (pag1) </title> 
</head>
<body>
<h1> ¡Todo lo que debes saber de <em> <u> MORA </u></em> !</h1>
<a href = "https://www.instagram.com/mora/?hl=es" target="_blank" > <img src="../assets/img/Mora-cantante.jpg" width="300px" height="300px"> </a>
<h2> <a href="../inicio.html" target="_blank">Inicio</a> </h2>
<h2> <a href="./horario.html" target="_blank">Pag2</a> </h2>

<h1>Mi Rutina Semanal de Estudiante</h1>
<table border = 1>
    <tr>
        <th>Hora</th>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miércoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
    </tr>
    <tr>
        <td>5:00 AM</td>
        <td>Me despierto y empiezo a alistar</td>
        <td>Me despierto y empiezo a alistar</td>
        <td>Me despierto y empiezo a alistar</td>
        <td>Me despierto y empiezo a alistar</td>
        <td>Me despierto y empiezo a alistar</td>
    </tr>
    <tr>
        <td>6:30 AM</td>
        <td>Salgo a la universidad</td>
        <td>Salgo a la universidad</td>
        <td>Salgo a la universidad</td>
        <td>Salgo a la universidad</td>
        <td>Salgo a la universidad</td>
    </tr>
    <tr>
        <td>7:00 AM</td>
        <td>Clase de Fundamentos de circuitos</td>
        <td>Clase de Algebra Lineal</td>
        <td>Clase de Fundamentos de circuitos</td>
        <td>Clase de Algebra Lineal</td>
        <td>Laboratorio de Fundamentos de circuitos</td>
    </tr>
    <tr>
        <td>10:00 AM</td>
        <td>Descanso/Tareas</td>
        <td>Descanso/Tareas</td>
        <td>Descanso/Tareas</td>
        <td>Descanso/Tareas</td>
        <td>Descanso/Tareas</td>
    </tr>
    <tr>
        <td>11:00 AM</td>
        <td>Descanso/Tareas</td>
        <td>Descanso/Tareas</td>
        <td>Clase de Desarrollo Web</td>
        <td>Descanso/Tareas</td>
        <td>Clase de Desarrollo Web</td>
    </tr>
    <tr>
        <td>12:00 M</td>
        <td>Almuerzo</td>
        <td>Almuerzo</td>
        <td>Clase de Desarrollo Web</td>
        <td>Almuerzo</td>
        <td>Clase de Desarrollo Web</td>
    </tr>
    
    <tr>
        <td>13:00 PM</td>
        <td>Tareas/Descanso</td>
        <td>Tareas/Descanso</td>
        <td>Almuerzo</td>
        <td>Tareas/Descanso</td>
        <td>Almuerzo</td>
    </tr>

    <tr>
        <td>15:00 PM</td>
        <td>Monitoria Probabilidad y Estadística</td>
        <td>Prácticas Dirigidas Tenis de Mesa</td>
        <td>Clase de Probabilidad y Estadística</td>
        <td>Clase de Cornerstone Project</td>
        <td>Clase de Probabilidad y Estadística</td>
    </tr>

    <tr>
        <td>16:00 PM</td>
        <td>Monitoria Probabilidad y Estadística</td>
        <td>Prácticas Selección Tenis de Mesa</td>
        <td>Clase de Probabilidad y Estadística</td>
        <td>Clase de Cornerstone Project</td>
        <td>Clase de Probabilidad y Estadística</td>
    </tr>

    <tr>
        <td>18:00 PM</td>
        <td>Gimnasio en casa</td>
        <td> Prácticas Selección Tenis de Mesa</td>
        <td>Descanso</td>
        <td>Gimnasio en casa</td>
        <td>Descanso o salir con amigos</td>
    </tr>

    <tr>
        <td>20:00 PM</td>
        <td>Cena</td>
        <td>Descanso</td>
        <td>Cena</td>
        <td>Cena</td>
        <td>Descanso o salir con amigos</td>
    </tr>

    <tr>
        <td>22:00 PM</td>
        <td>Hora de dormir</td>
        <td>Hora de dormir</td>
        <td>Hora de dormir</td>
        <td>Hora de dormir</td>
        <td>Hora de dormir/salir con amigos</td>
    </tr>
</table>

</body>
</html>

