<!DOCTYPE html>
<html lang="es">
<head> <!-- head es la parte de arriba de la página, donde salen las diferentes páginas en google -->

<meta charset="UTF-8"> <!--Meta son etiquetas principales, charset es para caracteres especiales --> 
<meta name = "Juan Pugliese" content = "Intro HTML"> <!-- dejar constancia de creador de código -->
<title> Ejercicios básicos de HTML </title> 
<link rel="" href = "./assets/img/" > <!-- link a imágenes -->
</head>
<body>
<h1> Hello World!</h1>
<h2> Hello World!</h2>
<h3> Hello World!</h3>
<h4> Hello World!</h4>
<h5> Hello World!</h5>
<p> novorivneivneoivnrovneovorienvon. <br> veonvinreivnreo <strong> neovirnev </strong> <u> <em> nocinwovnwo </em> </u> </p> <!-- br son saltos de linea, strong es para negrilla, em es cursiva, u es para subrayar --> 
<img src="./assets/img/marek-piwnicki-Bi1_cdg0UXA-unsplash.jpg">  <!--No se tiene que cerrar la etiqueta-->
<!-- Para salir de carpeta son ../ Por ejemplo para salir de views a assets para poner la ruta de una imágen -->
<ol reversed start="10" type="A"> 
    <li> Indice</li>
    <li> Introducción</li>
    <li> Justificación</li>
</ol>
<ul> 
    <li> Indice</li>
    <li> Introducción</li>
    <li> Justificación</li>
</ul>
</body>
</html>
