<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="Quiz 1" content="Juego de stop quiz desarrollo Web">
    <link rel="icon" href="../assets/img/bx-spreadsheet.svg" />
    <title>Quiz</title>
    
</head>
<body>
    <table border="2">
        <caption> Quiz 1</caption>
            <tr style="border: 3"> 
                <th> <em> L </em> </th> 
                <th> <em> Nombre </em> </th> 
                <th> <em> Apellido </em> </th> 
                <th> <em> Cosa </em> </th> 
                <th> <em> Color </em> </th> 
                <th> <em> Lugar </em> </th> 
                <th> <em> Atributo HTML </em> </th> 
                <th> <em> Total </em> </th> 
            </tr>
            <tr> <td> V </td> <!-- Letra --> 
                 <td> Violeta </td> <!-- Nombre --> 
                 <td> Valdez </td> <!-- Apellido --> 
                 <td> <img src="../assets/img/descarga.jpg"> </td> <!-- Cosa --> 
                 <td bgcolor="green">  </td> <!-- Color --> 
                 <td> valencia </td> <!-- Lugar --> 
                 <td>  <em> <u> video </u>  </em> </td> <!-- Atributo html --> 
                 <th> 1 </th> <!-- Total --> 
                </tr>
            <tr> <td> D </td> <!-- Letra --> 
                 <td> Diana </td> <!-- Nombre --> 
                 <td> Dubail </td> <!-- Apellido --> 
                 <td> <img src="../assets/img/istockphoto-178295530-612x612.jpg"> </td> <!-- Cosa --> 
                 <td bgcolor="gold">  </td> <!-- Color --> 
                 <td> dubai </td> <!-- Lugar --> 
                 <td>  <em> <u> div</u>  </em> </td> <!-- Atributo html --> 
                 <th> 1 </th> <!-- Total --> 
               </tr>

               <tr> <td> U </td> <!-- Letra --> 
                <td> Ursula </td> <!-- Nombre --> 
                <td> Urbina </td> <!-- Apellido --> 
                <td> <img src="../assets/img/descarga (1).jpg"> </td> <!-- Cosa --> 
                <td bgcolor="purple">  </td> <!-- Color --> 
                <td> uganda </td> <!-- Lugar --> 
                <td>  <em> <u> u </u>  </em> </td> <!-- Atributo html --> 
                <th> 1 </th> <!-- Total --> 
                </tr>

                <tr> <td> X </td> <!-- Letra --> 
                    <td> Xavi </td> <!-- Nombre --> 
                    <td> Xhaka </td> <!-- Apellido --> 
                    <td> <img src="../assets/img/descarga (2).jpg"> </td> <!-- Cosa --> 
                    <td style="background-color: #738678;">  </td> <!-- Color --> 
                    <td> xativa </td> <!-- Lugar --> 
                    <td>  <em> <u> xmlns </u>  </em> </td> <!-- Atributo html --> 
                    <th> 1 </th> <!-- Total --> 
                    </tr>

                    <tr> <td> R </td> <!-- Letra --> 
                        <td> Raul </td> <!-- Nombre --> 
                        <td> Rodriguez </td> <!-- Apellido --> 
                        <td> <img src="../assets/img/istockphoto-154952126-612x612.jpg"> </td> <!-- Cosa --> 
                        <td bgcolor="red">  </td> <!-- Color --> 
                        <td> rumania </td> <!-- Lugar --> 
                        <td>  <em> <u> rel </u>  </em> </td> <!-- Atributo html --> 
                        <th> 1 </th> <!-- Total --> 
                        </tr>



    </table>
</body>
</html>