@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    font-family: sans-serif;

}

h1{
    color: #15a085;
    color: rgb(21,160,133,.7);
    font-family: Mulish,sans-serif;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: .3px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

#img{
    width: 32px;
    height: 32px;
    text-align: center;
}

p{
    color: #666;
    font-family: Mulish,sans-serif;
    vertical-align: bottom;
    text-align: center;
}

#img1{
    width: 300px;
    height: 54px;
    text-align: center;
}

#p1{
    font-size: 14px;
}

#img2{
    width: "650";
    height: "305";
    text-align: center;
    display: block;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#p2{
    color: #666;
    font-family: Mulish,sans-serif;
    text-align: justify;
    margin:auto;
    width: 50%;
}

#p3{
    font-size: 1.2rem;
    color: rgb(21,160,133,.7);
    font-family: Mulish,sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

