.color
{
    color:#5882FA;
    background-color: black;
    font-weight: bolder;
}

.fuente
{
 font-family: 'Courier New', Courier, monospace;
 font-size: medium;
 font-weight: 100;   
}

.parrafo
{
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
    
}

h2
{
        color: #15A085;
        font-size: 16px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
        
#ali
{
    text-align: right;
}

.homero{
    font-style:italic;
    text-decoration:underline;
    color: red;
    }

